:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  padding: 8px;
  width: full;
  margin-bottom: 8px;
  border-radius: 6px;
  margin: 4px;
}

button{
  background-color: orange;
  color: white;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  width: full;
  margin-bottom: 4px;
  border: none;
}

.chat-con{
  padding: 16px;
  margin: auto;
  background-color:gray;
  border-radius: 10px;
}

.msg-con{
height: 540px;
overflow-y: auto;
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 4px;
border-radius: 10px;
}

.user-name{
color: black;
font-style: italic;
margin: 6px;
background-color: aqua;
padding: 2px 4px 2px 4px;
border-radius: 4px;
}

.typing-msg{
  font-size: small;
  color: aliceblue;
}